<a href="https://colab.research.google.com/github/776rzt6494-pixel/2025-2026-even-_AIB-DS-sukaina-4080/blob/main/3_02_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names = ["Alice", "Bob", "Charlie"]

print(names)
names.append("David")
print(names)

['Alice', 'Bob', 'Charlie']
['Alice', 'Bob', 'Charlie', 'David']

In [ ]:

numbers = [1, 2, 3, 4, 5]
print(numbers)
print(numbers[0])
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5]
1
[1, 2, 3, 4, 5, 6]

In [ ]:
# Creating tuples
t1 = (10, 20, 30, 40)
t2 = (50, 60)

# Accessing elements
print(t1[0])
print(t1[-1])

# Slicing
print(t1[1:3])
print(t1[::-1])

# Concatenation
t3 = t1 + t2
print(t3)

# Repetition
t4 = t1 * 2
print(t4)

# Membership
print(20 in t1)
print(100 not in t1)

# Length
print(len(t1))

# Iteration
for i in t1:
    print(i)

# Tuple methods
print(t1.count(20))
print(t1.index(30))

10
40
(20, 30)
(40, 30, 20, 10)
(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 10, 20, 30, 40)
True
True
4
10
20
30
40
1
2

In [ ]:
# Creating sets
s1 = {10, 20, 30}
s2 = set([30, 40, 50])

# Adding elements
s1.add(40)

# Removing elements
s1.remove(20)    # error if not found
s1.discard(100)  # no error if not found

# Membership test
print(30 in s1)
print(100 not in s1)

# Set operations
print(s1.union(s2))          # union
print(s1.intersection(s2))   # intersection
print(s1.difference(s2))     # difference
print(s1.symmetric_difference(s2))  # elements in either but not both

# Length
print(len(s1))

# Iteration
for elem in s1:
    print(elem)

True
True
{50, 40, 10, 30}
{40, 30}
{10}
{50, 10}
3
40
10
30

In [ ]:
# Creating dictionaries
d = {"name": "Alice", "age": 25, "city": "NY"}

# Access values
print(d["name"])
print(d.get("age"))

# Add / update
d["email"] = "alice@example.com"
d["age"] = 26

# Remove
del d["city"]
d.pop("email")

# Keys, values, items
print(d.keys())
print(d.values())
print(d.items())

# Membership (keys)
print("name" in d)
print("city" not in d)

# Iteration over keys and values
for key in d:
    print(key, d[key])

Alice
25
dict_keys(['name', 'age'])
dict_values(['Alice', 26])
dict_items([('name', 'Alice'), ('age', 26)])
True
True
name Alice
age 26