<a href="https://colab.research.google.com/github/776rzt6494-pixel/2025-2026-even-_AIB-DS-sukaina-4080/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#filtering
data = {
    "ID" : [101,102,103],
    "Name" : ["Alice","Charlie","David"]

}
import pandas as pd
df = pd.DataFrame(data)
print("Original Data:")
print(df)
print(df[df['Name']=='Alice'])
print(df[df['Name']=='Charlie'])

Original Data:
    ID     Name
0  101    Alice
1  102  Charlie
2  103    David
    ID   Name
0  101  Alice
    ID     Name
1  102  Charlie

In [4]:
#data manipulation
data = {
    "Name" : ["A","B","C"],
    "Age": [20,21,22],
    "Marks": [70,60,80]
    }
import pandas as pd
df = pd.DataFrame(data)
print("Original Data:")
print(df)
#Adding a new column
df["Bonus"]=5
print("\nAfter adding Bonus:")
print(df)
#Increase Marks
df["Marks"] = df["Marks"] + 2
print("\n After adding Marks:")
print(df)
#create new column from existing columns
df["Total"] = df["Marks"]+df["Bonus"]
print("\nAfter adding Total:")
print(df)
#change value
df.loc[0,"Age"] = 21
print("\nAfter changing age of first sid :")
print(df)
#Reanme a column
df.rename(columns = {"Total" : "Final"},inplace = True)
print(df)
#Remove a column
df.drop("Bonus",axis = 1,inplace =True)

Original Data:
  Name  Age  Marks
0    A   20     70
1    B   21     60
2    C   22     80

After adding Bonus:
  Name  Age  Marks  Bonus
0    A   20     70      5
1    B   21     60      5
2    C   22     80      5

 After adding Marks:
  Name  Age  Marks  Bonus
0    A   20     72      5
1    B   21     62      5
2    C   22     82      5

After adding Total:
  Name  Age  Marks  Bonus  Total
0    A   20     72      5     77
1    B   21     62      5     67
2    C   22     82      5     87

After changing age of first sid :
  Name  Age  Marks  Bonus  Total
0    A   21     72      5     77
1    B   21     62      5     67
2    C   22     82      5     87
  Name  Age  Marks  Bonus  Final
0    A   21     72      5     77
1    B   21     62      5     67
2    C   22     82      5     87

In [7]:
#Linear Search

n = int(input("enter no. of elements:"))
arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i}:")))

key = int(input("enter element to search:"))

found = False

for i in range(n):
    if arr[i] == key:
        print(f"element {key} found at position {i+1}")
        found = True
        break

if not found:
    print("element not found:")

enter no. of elements:5
enter element 0:1
enter element 1:2
enter element 2:5
enter element 3:3
enter element 4:6
enter element to search:1
element 1 found at position 1

In [8]:
# Bubble sort
n = int(input("enter num of elements:"))

arr = []

for i in range(n):
    arr.append(input(input(f"enter element {i+1}:")))

print("\n Original array:", arr)

# Bubble sort logic
for i in range(n-1):
    for j in range(n-1-i):
        if arr[j] > arr[j+1]:
            # Swap
            arr[j], arr[j+1] = arr[j+1], arr[j]

print("Sorted array:", arr)

enter num of elements:3
enter element 1:1
12
enter element 2:3
323
enter element 3:2
234

 Original array: ['2', '23', '34']
Sorted array: ['2', '23', '34']

In [10]:
# Selection sort
n = int(input("enter number of elements:"))

arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i+1}:")))

print("\n Original array:", arr)

# selection sort logic
for i in range(n-1):
    min_index = i
    for j in range(i+1, n):
        if arr[j] < arr[min_index]:
            min_index = j

    # swap found min element with first element
    arr[i], arr[min_index] = arr[min_index], arr[i]

print("sorted array:", arr)

enter number of elements:3
enter element 1:2
enter element 2:5
enter element 3:1

 Original array: [2, 5, 1]
sorted array: [1, 2, 5]

In [11]:
# Grouping
import pandas as pd

# Simple Dataframe
data = {
    "Department": ["IT", "IT", "HR", "HR", "Finance"],
    "Name": ["A", "B", "C", "D", "E"],
    "Marks": [80, 85, 75, 90, 88]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

print("\n Average Marks by department:")
print(df.groupby("Department")["Marks"].mean())

print("\nTotal marks by department:")
print(df.groupby("Department")["Marks"].sum())

Original Data:
  Department Name  Marks
0         IT    A     80
1         IT    B     85
2         HR    C     75
3         HR    D     90
4    Finance    E     88

 Average Marks by department:
Department
Finance    88.0
HR         82.5
IT         82.5
Name: Marks, dtype: float64

Total marks by department:
Department
Finance     88
HR         165
IT         165
Name: Marks, dtype: int64

In [16]:
# Binary Search

n = int(input("Enter number of elements: "))
arr = []

for i in range(n):
    arr.append(int(input(f"Enter element {i+1}: ")))

arr.sort()  # IMPORTANT for binary search
print("Sorted array:", arr)

key = int(input("Enter element to search: "))

low = 0
high = n - 1
found = False

while low <= high:
    mid = (low + high) // 2

    if arr[mid] == key:
        print(f"Element {key} found at position {mid + 1}")
        found = True
        break
    elif key < arr[mid]:
        high = mid - 1
    else:
        low = mid + 1

if not found:
    print("Element not found")

Enter number of elements: 5
Enter element 1: 3
Enter element 2: 6
Enter element 3: 9
Enter element 4: 12
Enter element 5: 15
Sorted array: [3, 6, 9, 12, 15]
Enter element to search: 3
Element 3 found at position 1